<% if @user ||= current_user %>
<%= link_to gravatar_for(@user, size: 50), @user %>
<h1><%= link_to @user.name ,@user %></h1>
<span class="username">@<%= @user.username %></span>
<span><%= pluralize(@user.microposts.count, "micropost") %></span>
<% end %>